## EVALUATING ALGORITHM

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

### READ DATASET

In [2]:
import pandas as pd
df = pd.read_csv('train_titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
X = df.drop(columns=['PassengerId','Name','Ticket','Survived'])
Y = df[['Survived']]

In [4]:
X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  22.0      1      0   7.2500   NaN        S
1       1  female  38.0      1      0  71.2833   C85        C
2       3  female  26.0      0      0   7.9250   NaN        S
3       1  female  35.0      1      0  53.1000  C123        S
4       3    male  35.0      0      0   8.0500   NaN        S

In [5]:
Y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [6]:
cat = list(X.columns[X.dtypes=='object'])
con = list(X.columns[X.dtypes!='object'])

In [7]:
cat

['Sex', 'Cabin', 'Embarked']

In [8]:
con

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

### PREPROCESSING PIPELINE

In [9]:
cat1 = ['Cabin']
cat2= ['Sex','Embarked']

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [11]:
num_pipe= Pipeline(steps=[('impute',SimpleImputer(strategy='median')),
                          ('scaler',StandardScaler())])
cat_pipe1= Pipeline(steps=[('impute',SimpleImputer(strategy='constant',fill_value='unknown')),
                           ('ohe',OneHotEncoder(handle_unknown='ignore'))])
cat_pipe2= Pipeline(steps=[('impute',SimpleImputer(strategy='most_frequent')),
                           ('ohe',OneHotEncoder(handle_unknown='ignore'))])
pre= ColumnTransformer([('num',num_pipe,con),
                         ('cat1',cat_pipe1,cat1),
                         ('cat2',cat_pipe2,cat2)])

In [12]:
x_pre = pre.fit_transform(X).toarray()
x_pre

array([[ 0.82737724, -0.56573646,  0.43279337, ...,  0.        ,
         0.        ,  1.        ],
       [-1.56610693,  0.66386103,  0.43279337, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.82737724, -0.25833709, -0.4745452 , ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [ 0.82737724, -0.1046374 ,  0.43279337, ...,  0.        ,
         0.        ,  1.        ],
       [-1.56610693, -0.25833709, -0.4745452 , ...,  1.        ,
         0.        ,  0.        ],
       [ 0.82737724,  0.20276197, -0.4745452 , ...,  0.        ,
         1.        ,  0.        ]])

In [13]:
cols= pre.get_feature_names_out()
cols

array(['num__Pclass', 'num__Age', 'num__SibSp', 'num__Parch', 'num__Fare',
       'cat1__Cabin_A10', 'cat1__Cabin_A14', 'cat1__Cabin_A16',
       'cat1__Cabin_A19', 'cat1__Cabin_A20', 'cat1__Cabin_A23',
       'cat1__Cabin_A24', 'cat1__Cabin_A26', 'cat1__Cabin_A31',
       'cat1__Cabin_A32', 'cat1__Cabin_A34', 'cat1__Cabin_A36',
       'cat1__Cabin_A5', 'cat1__Cabin_A6', 'cat1__Cabin_A7',
       'cat1__Cabin_B101', 'cat1__Cabin_B102', 'cat1__Cabin_B18',
       'cat1__Cabin_B19', 'cat1__Cabin_B20', 'cat1__Cabin_B22',
       'cat1__Cabin_B28', 'cat1__Cabin_B3', 'cat1__Cabin_B30',
       'cat1__Cabin_B35', 'cat1__Cabin_B37', 'cat1__Cabin_B38',
       'cat1__Cabin_B39', 'cat1__Cabin_B4', 'cat1__Cabin_B41',
       'cat1__Cabin_B42', 'cat1__Cabin_B49', 'cat1__Cabin_B5',
       'cat1__Cabin_B50', 'cat1__Cabin_B51 B53 B55',
       'cat1__Cabin_B57 B59 B63 B66', 'cat1__Cabin_B58 B60',
       'cat1__Cabin_B69', 'cat1__Cabin_B71', 'cat1__Cabin_B73',
       'cat1__Cabin_B77', 'cat1__Cabin_B78', 'cat1__Cabin_B79',
       'cat1__Cabin_B80', 'cat1__Cabin_B82 B84', 'cat1__Cabin_B86',
       'cat1__Cabin_B94', 'cat1__Cabin_B96 B98', 'cat1__Cabin_C101',
       'cat1__Cabin_C103', 'cat1__Cabin_C104', 'cat1__Cabin_C106',
       'cat1__Cabin_C110', 'cat1__Cabin_C111', 'cat1__Cabin_C118',
       'cat1__Cabin_C123', 'cat1__Cabin_C124', 'cat1__Cabin_C125',
       'cat1__Cabin_C126', 'cat1__Cabin_C128', 'cat1__Cabin_C148',
       'cat1__Cabin_C2', 'cat1__Cabin_C22 C26', 'cat1__Cabin_C23 C25 C27',
       'cat1__Cabin_C30', 'cat1__Cabin_C32', 'cat1__Cabin_C45',
       'cat1__Cabin_C46', 'cat1__Cabin_C47', 'cat1__Cabin_C49',
       'cat1__Cabin_C50', 'cat1__Cabin_C52', 'cat1__Cabin_C54',
       'cat1__Cabin_C62 C64', 'cat1__Cabin_C65', 'cat1__Cabin_C68',
       'cat1__Cabin_C7', 'cat1__Cabin_C70', 'cat1__Cabin_C78',
       'cat1__Cabin_C82', 'cat1__Cabin_C83', 'cat1__Cabin_C85',
       'cat1__Cabin_C86', 'cat1__Cabin_C87', 'cat1__Cabin_C90',
       'cat1__Cabin_C91', 'cat1__Cabin_C92', 'cat1__Cabin_C93',
       'cat1__Cabin_C95', 'cat1__Cabin_C99', 'cat1__Cabin_D',
       'cat1__Cabin_D10 D12', 'cat1__Cabin_D11', 'cat1__Cabin_D15',
       'cat1__Cabin_D17', 'cat1__Cabin_D19', 'cat1__Cabin_D20',
       'cat1__Cabin_D21', 'cat1__Cabin_D26', 'cat1__Cabin_D28',
       'cat1__Cabin_D30', 'cat1__Cabin_D33', 'cat1__Cabin_D35',
       'cat1__Cabin_D36', 'cat1__Cabin_D37', 'cat1__Cabin_D45',
       'cat1__Cabin_D46', 'cat1__Cabin_D47', 'cat1__Cabin_D48',
       'cat1__Cabin_D49', 'cat1__Cabin_D50', 'cat1__Cabin_D56',
       'cat1__Cabin_D6', 'cat1__Cabin_D7', 'cat1__Cabin_D9',
       'cat1__Cabin_E10', 'cat1__Cabin_E101', 'cat1__Cabin_E12',
       'cat1__Cabin_E121', 'cat1__Cabin_E17', 'cat1__Cabin_E24',
       'cat1__Cabin_E25', 'cat1__Cabin_E31', 'cat1__Cabin_E33',
       'cat1__Cabin_E34', 'cat1__Cabin_E36', 'cat1__Cabin_E38',
       'cat1__Cabin_E40', 'cat1__Cabin_E44', 'cat1__Cabin_E46',
       'cat1__Cabin_E49', 'cat1__Cabin_E50', 'cat1__Cabin_E58',
       'cat1__Cabin_E63', 'cat1__Cabin_E67', 'cat1__Cabin_E68',
       'cat1__Cabin_E77', 'cat1__Cabin_E8', 'cat1__Cabin_F E69',
       'cat1__Cabin_F G63', 'cat1__Cabin_F G73', 'cat1__Cabin_F2',
       'cat1__Cabin_F33', 'cat1__Cabin_F38', 'cat1__Cabin_F4',
       'cat1__Cabin_G6', 'cat1__Cabin_T', 'cat1__Cabin_unknown',
       'cat2__Sex_female', 'cat2__Sex_male', 'cat2__Embarked_C',
       'cat2__Embarked_Q', 'cat2__Embarked_S'], dtype=object)

In [14]:
x_pre= pd.DataFrame(x_pre,columns=cols)
x_pre

,num__Pclass,num__Age,num__SibSp,num__Parch,num__Fare,cat1__Cabin_A10,cat1__Cabin_A14,cat1__Cabin_A16,cat1__Cabin_A19,cat1__Cabin_A20,...,cat1__Cabin_F38,cat1__Cabin_F4,cat1__Cabin_G6,cat1__Cabin_T,cat1__Cabin_unknown,cat2__Sex_female,cat2__Sex_male,cat2__Embarked_C,cat2__Embarked_Q,cat2__Embarked_S
0,0.827377,-0.565736,0.432793,-0.473674,-0.502445,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
1,-1.566107,0.663861,0.432793,-0.473674,0.786845,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,0.827377,-0.258337,-0.474545,-0.473674,-0.488854,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
3,-1.566107,0.433312,0.432793,-0.473674,0.420730,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.827377,0.433312,-0.474545,-0.473674,-0.486337,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,-0.369365,-0.181487,-0.474545,-0.473674,-0.386671,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
887,-1.566107,-0.796286,-0.474545,-0.473674,-0.044381,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
888,0.827377,-0.104637,0.432793,2.008933,-0.176263,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
889,-1.566107,-0.258337,-0.474545,-0.473674,-0.044381,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
890,0.827377,0.202762,-0.474545,-0.473674,-0.492378,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

### Train Test Split

In [15]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(x_pre,Y,test_size=0.2,random_state=21)

In [16]:
xtrain.shape

(712, 158)

In [17]:
xtest.shape

(179, 158)

### ALGORITH EVALUATION

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [19]:
dct= {'logistic':LogisticRegression(),
      'Decision tree': DecisionTreeClassifier(),
      'Random forest':RandomForestClassifier(),
      'Gradient boost':GradientBoostingClassifier()}

In [20]:
dct.items()

dict_items([('logistic', LogisticRegression()), ('Decision tree', DecisionTreeClassifier()), ('Random forest', RandomForestClassifier()), ('Gradient boost', GradientBoostingClassifier())])

### EVALUATE MODEL

In [21]:
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score

In [22]:
tr=[]
tr_cv=[]
ts=[]

In [23]:
for name,model in dct.items():
    model.fit(xtrain,ytrain)
    ypred_tr=model.predict(xtrain)
    ypred_ts=model.predict(xtest)
    f1_tr=f1_score(ytrain,ypred_tr)
    score_tr=cross_val_score(model,xtrain,ytrain,cv=5,scoring='f1')
    score_svg=score_tr.mean()

    f1_ts=f1_score(ytest,ypred_ts)
    tr.append(f1_tr)
    ts.append(f1_ts)
    tr_cv.append(score_svg)
    print('\n---------------------------------------\n')
    print(f'Model Name : {name}\n')
    print(f'Training F1 score : {f1_tr:.4f}')
    print(f'5 fold cross validation f1 score : {score_svg:.4f}')
    print(f'Testing F1 score : {f1_ts:.4f}')

---------------------------------------

Model Name : logistic

Training F1 score : 0.7672
5 fold cross validation f1 score : 0.7131
Testing F1 score : 0.7746

---------------------------------------

Model Name : Decision tree

Training F1 score : 0.9849
5 fold cross validation f1 score : 0.7074
Testing F1 score : 0.7518

---------------------------------------

Model Name : Random forest

Training F1 score : 0.9851
5 fold cross validation f1 score : 0.7152
Testing F1 score : 0.7591

---------------------------------------

Model Name : Gradient boost

Training F1 score : 0.8629
5 fold cross validation f1 score : 0.7410
Testing F1 score : 0.7910

### RESULTS IN DATAFRAME

In [26]:
eval_dct= {'model':list(dct.keys()),
           'Training f1':tr,
           'testing f1':ts,
           'Training f1 cv': tr_cv}

In [28]:
eval_df=pd.DataFrame(eval_dct).T
eval_df

                       0              1              2               3
model           logistic  Decision tree  Random forest  Gradient boost
Training f1     0.767176       0.984906       0.985075        0.862903
testing f1      0.774648       0.751773       0.759124        0.791045
Training f1 cv  0.713137       0.707446        0.71518         0.74099